@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.fixed {
  overflow-y: hidden;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: #ffffff;
  font-family: "Inter";
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  --width__nav-item: 0px;
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.city {
  padding-bottom: 100px;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
  overflow-x: hidden;
  padding-top: 145px;
}

.city__preview {
  position: relative;
}

.city__preview img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.city__preview-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 700;
  font-size: 89.6px;
  line-height: 108px;
  width: 100%;
  max-width: 704px;
}

.city__preview-title .cls-1 {
  fill: #01245A;
}

.city__preview-title .cls-2 {
  fill-rule: evenodd;
  fill: #01245A;
}

.city__preview-title .cls-3 {
  fill: none;
  stroke: #01245A;
  stroke-linejoin: round;
  stroke-width: 4.25px;
}

.city__text {
  padding-top: 38px;
}

.city__text img {
  width: 100%;
  max-width: 445px;
}

.city__text-top {
  display: flex;
  gap: 30px;
  margin-bottom: 23px;
  align-items: flex-start;
}

.city__text-title {
  font-weight: 700;
  line-height: 24px;
  font-size: 28px;
  color: #01245A;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.city__text-title span {
  margin-top: 3px;
  display: block;
  font-size: 20px;
  text-transform: none;
}

.city__text-paragraph {
  margin-top: 23px;
}

.city__text-lead {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 23px;
}

.city__years {
  right: -39px;
  bottom: 113px;
}

.city__bg-item {
  position: absolute;
  z-index: -1;
}

.city__lines_s {
  left: -86px;
  bottom: 143px;
  max-width: 194px;
}

.city__lines_b {
  right: -42px;
  top: 548px;
  max-width: 194px;
}

.footer-w {
  background: #01245A;
  transform: skewY(-1deg);
}

.footer {
  transform: skewY(1deg);
  padding-top: 89px;
  padding-bottom: 117px;
}

.footer__top {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #A1A1A1;
  padding-bottom: 61px;
  margin-bottom: 46px;
  flex-wrap: wrap;
}

.footer__logo {
  flex: 0 0 14%;
}

.footer__logo img {
  max-width: 120px;
  width: 100%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 29px;
  flex: 1;
  max-width: 906px;
}

.footer__nav-item {
  flex: 0 0 calc(33% - 24px);
}

.footer__nav-item:hover a {
  text-decoration: underline #fff 1px;
}

.footer__nav-item a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: underline transparent;
  transition: 0.2s;
  line-height: 19px;
}

.footer__social {
  display: flex;
  gap: 49px;
  padding-right: 13px;
  justify-content: flex-end;
}

.footer__text {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 15px;
}

.footer__lead {
  font-size: 16px;
  line-height: 19px;
  color: #A2A2A2;
  display: inline-block;
}

.header {
  padding-top: 13px;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.2s;
}

.header.fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.header.active {
  background: rgb(255, 255, 255);
}

.header__top {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  padding-right: 33px;
  margin-bottom: 19px;
  row-gap: 20px;
}

.header__logo {
  padding-top: 3px;
}

.header__action {
  display: flex;
  column-gap: 21px;
  align-items: center;
}

.header__action-item {
  cursor: pointer;
}

.header__action-reg {
  padding: 12px 30px;
  border: 1px solid #646464;
  border-radius: 100px;
  width: 100%;
  max-width: 156px;
  font-weight: 500;
  color: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-w {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 14px 0px;
}

.header__action-log {
  padding: 12px 30px;
  background: #01245A;
  border-radius: 100px;
  width: 100%;
  font-weight: 500;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 105px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  flex: 1;
  max-width: 1016px;
}

.header__nav-search {
  cursor: pointer;
}

.header__additional {
  background: #01245A;
  position: absolute;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  display: none;
}

.header__additional.active {
  display: block;
}

.header__additional-content {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.header__additional-text {
  max-width: 550px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  flex: 0 0 43%;
}

.header__additional-nav {
  flex: 1;
}

.header__additional-nav-item {
  color: #ffffff;
  width: fit-content;
  display: block;
}

.header__additional-nav-item:not(:last-child) {
  margin-bottom: 15px;
}

.header__additional-nav-subtitle {
  font-weight: 700;
}

#nav-icon {
  width: 25px;
  height: 18px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 8px;
}

#nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.header__menu {
  display: none;
}

.header-m {
  padding: 20px 0px;
  background: #01245A;
  width: 100%;
  color: #FFFFFF;
  flex-direction: column;
  overflow-y: auto;
  display: none;
  height: calc(100vh - 145px);
}

.header-m__nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  line-height: 20px;
}

.header-m__nav-item svg {
  width: 12px;
  height: 8px;
  fill: none;
}

.header-m__nav-item svg path {
  stroke: #FFFFFF;
}

.header-m__additional {
  padding: 22px;
  display: none;
}

.header-m__social {
  padding: 22px 22px 10px 22px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.preview-swiper {
  padding-top: 1px;
  max-height: 808px;
  transform: skewY(-1deg);
}

.preview-swiper::after {
  content: "";
  background: rgba(255, 255, 255, 0.66);
  filter: blur(100px);
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 293px;
  width: 39%;
  height: 37%;
  max-width: 756px;
}

.preview-swiper__wrapper {
  transform: skewY(1deg);
}

.preview-swiper__slide {
  height: auto;
}

.preview-swiper__slide img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.preview-swiper__logo {
  position: absolute;
  top: 22%;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 28%;
  max-width: 481px;
}

.preview-swiper__logo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(50px);
}

.preview-swiper__logo img {
  width: 100%;
  display: block;
}

.preview-swiper__lines_b {
  position: absolute;
  width: 11%;
  max-width: 212px;
  left: 0px;
  top: 134px;
  z-index: 10;
}

.preview-swiper__lines_s {
  position: absolute;
  width: 7%;
  max-width: 119px;
  right: 0px;
  top: -55px;
  z-index: 10;
}

.chapter {
  background: url(../img/pic/bg_blue.png) 0 0 no-repeat;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 100px;
  transform: skewY(-1deg);
  display: block;
}

.chapter.hidden {
  display: none;
}

.chapter__close {
  position: absolute;
  right: 10px;
  top: -5px;
  cursor: pointer;
  transition: 0.2s;
}

.chapter__close:hover {
  transform: scale(1.1);
}

.chapter__close svg {
  width: 30px;
  height: 30px;
}

.chapter__close svg .cls-1 {
  fill: none;
  stroke: #2b2a29;
  stroke-miterlimit: 10;
  stroke-width: 2.81px;
}

.chapter__content {
  position: relative;
  transform: skewY(1deg);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  max-width: 1258px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 15px;
}

.chapter__pic-line {
  position: absolute;
  max-width: 181px;
  left: -15px;
  top: 23px;
  width: 46%;
}

.chapter__pic {
  color: #A1A1A1;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 300px;
  transition: 1s;
  opacity: 0;
  transform: translate(-180%, 0);
}

.chapter__pic.active {
  opacity: 1;
  transform: translate(0, 0);
}

.chapter__pic img:first-child {
  padding-left: 13px;
  width: 100%;
  display: block;
}

.chapter__pic span {
  display: block;
  transition: all 1s ease 0.5s;
  opacity: 0;
  transform: translate(0, 120%);
}

.chapter__pic span.active {
  opacity: 1;
  transform: translate(0, 0);
}

.chapter__pic b {
  margin-top: 25px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
  display: block;
  transition: all 1s ease 0.4s;
  opacity: 0;
  transform: translate(0, 120%);
}

.chapter__pic b.active {
  opacity: 1;
  transform: translate(0, 0);
}

.chapter__text {
  flex: 0 0 54.3%;
  color: #FFFFFF;
  transition: 1s;
  opacity: 0;
  transform: translate(180%, 0);
}

.chapter__text.active {
  opacity: 1;
  transform: translate(0, 0);
}

.chapter__text p:not(:last-child) {
  margin-bottom: 16px;
}

.banner {
  padding-bottom: 80px;
  padding-top: 80px;
}

.banner .city__preview-title {
  left: 50%;
  transform: translate(-50%, -50%);
}

.events {
  padding-top: 53px;
  padding-bottom: 89px;
}

.events__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #01245A;
  border-bottom: 1px solid #C2CFDF;
  padding-bottom: 31px;
  margin-bottom: 33px;
  flex-wrap: wrap;
}

.events__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

.events__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: underline transparent;
  transition: 0.2s;
}

.events__subtitle:hover {
  text-decoration: underline #000;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 51px;
  justify-content: space-between;
}

.events__item {
  border-radius: 30px;
  padding: 31px 31px 36px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.events__item:hover::after {
  background: rgba(1, 107, 253, 0.5);
}

.events__item::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
  border-radius: 30px;
  transition: 0.2s;
}

.events__item img {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  border-radius: 30px;
}

.events__item_b {
  transition: 1s;
  opacity: 0;
  transform: translate(-180%, 0);
  flex: 0 0 100%;
}

.events__item_b.active {
  opacity: 1;
  transform: translate(0, 0);
}

.events__item_s {
  flex: 0 0 calc(33% - 16px);
  transition: 1s;
  opacity: 0;
  transform: translate(180%, 0);
}

.events__item_s.active {
  opacity: 1;
  transform: translate(0, 0);
}

.events__item_s .events__item-footer {
  margin-top: 276px;
}

.events__item-label {
  background: #FFFFFF;
  border-radius: 100px;
  font-weight: 500;
  color: #2C2C2C;
  display: inline-block;
  padding: 7px 13px;
  width: fit-content;
}

.events__item-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 227px;
}

.events__item-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  max-width: 500px;
  margin-bottom: 28px;
}

.events__item-date {
  font-weight: 500;
  color: #01245A;
  background: #FFFFFF;
  border-radius: 100px;
  display: inline-block;
  padding: 7px 13px;
  width: fit-content;
}

.news {
  background: url(../img/pic/news_bg.png) 0 0 no-repeat;
  background-size: cover;
  padding-top: 206px;
  padding-bottom: 237px;
  position: relative;
  transform: skewY(-1deg);
}

.news__years {
  top: -65px;
  right: 66px;
}

.news__bg-item {
  position: absolute;
  z-index: -1;
}

.news__lines_s {
  top: 18px;
  left: 71px;
  width: 13%;
  max-width: 172px;
  z-index: -1;
}

.news__lines_b {
  top: 64px;
  right: 0;
  width: 9%;
  max-width: 153px;
  z-index: -1;
}

.news__content {
  max-width: 1289px;
  margin: 0 auto;
  padding-left: 54px;
  transform: skewY(1deg);
  padding-right: 15px;
}

.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #C2CFDF;
  padding-bottom: 31px;
  flex-wrap: wrap;
  margin-bottom: 58px;
}

.news__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

.news__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: underline transparent;
  transition: 0.2s;
}

.news__subtitle:hover {
  text-decoration: underline #000;
}

.news__item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.news__item:not(:last-child) {
  margin-bottom: 50px;
}

.news__item-pic {
  transition: 1s;
  opacity: 0;
  transform: translate(-180%, 0);
}

.news__item-pic.active {
  opacity: 1;
  transform: translate(0, 0);
}

.news__item-pic img {
  border-radius: 32px;
  width: 100%;
}

.news__item-text {
  flex: 1;
  max-width: 750px;
  transition: 1s;
  opacity: 0;
  transform: translate(180%, 0);
}

.news__item-text.active {
  opacity: 1;
  transform: translate(0, 0);
}

.news__item-date {
  font-size: 14px;
  line-height: 17px;
  color: #646464;
  margin-bottom: 21px;
}

.news__item-subtitle {
  font-size: 32px;
  letter-spacing: -0.01em;
  color: #01245A;
  line-height: 100%;
  position: relative;
  padding-right: 92px;
  margin-bottom: 20px;
  display: block;
  text-decoration: underline transparent 2px;
  transition: 0.2s;
}

.news__item-subtitle:hover {
  text-decoration: underline #01245A 2px;
}

.news__item-subtitle::after {
  content: "";
  position: absolute;
  background: url(../img/icons/arrow_deg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 14px;
  right: 2px;
  top: 9px;
}

.news__item-lead {
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  max-width: 641px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-checkbox {
  display: flex;
  gap: 18px;
  align-items: center;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input:checked + .custom-input::before {
  opacity: 1;
}

.custom-input {
  position: relative;
  display: block;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 5px;
  background: #ffffff;
}

.custom-input::before {
  content: "";
  background: url(../img/icons/check.svg) 0 0 no-repeat;
  position: absolute;
  width: 22px;
  height: 18px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.2s;
}

.survey {
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 99;
}

.survey img {
  max-width: 118px;
}

.quiz {
  padding-top: 83px;
  padding-bottom: 50px;
  background: url(../img/pic/quiz_bg.png) 0 0 no-repeat;
  background-size: cover;
  transform: skewY(-1deg);
}

.quiz__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
  margin-bottom: 70px;
  flex-wrap: wrap;
  gap: 50px;
  transform: skewY(1deg);
}

.quiz__title {
  display: flex;
  align-items: center;
  gap: 33px;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: underline transparent 3px;
  transition: 0.2s;
}

.quiz__title:hover {
  text-decoration: underline #fff 3px;
}

.quiz__title::before {
  content: "Раскрыть опрос";
}

.quiz__title.active img {
  opacity: 0;
}

.quiz__title.active::before {
  content: "Опрос";
}

.quiz__title img {
  transition: 0.2s;
  display: block;
  padding-top: 13px;
  opacity: 1;
}

.quiz__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  text-decoration: underline transparent 2px;
  transition: 0.2s;
}

.quiz__subtitle:hover {
  text-decoration: underline #fff 2px;
}

.quiz__content {
  display: none;
  padding-top: 15px;
  justify-content: space-between;
  max-width: 1019px;
  column-gap: 62px;
  padding-bottom: 114px;
  row-gap: 30px;
  transform: skewY(1deg);
}

.quiz__content.active {
  display: flex;
}

.quiz__pic-line {
  position: absolute;
  max-width: 180px;
  left: 1px;
  top: -20px;
  width: 43%;
}

.quiz__pic {
  flex: 1 0 42.8%;
  padding-left: 35px;
  position: relative;
  max-width: 300px;
}

.quiz__pic img:first-child {
  width: 100%;
  display: block;
}

.quiz__form-title {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.quiz__form-item {
  cursor: pointer;
}

.quiz__form-item:not(:last-child) {
  margin-bottom: 29px;
}

.quiz__form-item-lead {
  color: #FFFFFF;
}

.quiz__form-action {
  margin-top: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #01245A;
  border-radius: 100px;
  padding: 18px 10px;
  width: 100%;
  max-width: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-block {
  height: 145px;
  position: relative;
  z-index: 11;
  margin-bottom: -20px;
  background: #fff;
}

.bottom-block {
  height: 20px;
  position: relative;
  z-index: 11;
  margin-top: -20px;
  background-color: #01245a;
}

@media (max-width: 1548px) {
  .city__years {
    bottom: 0px;
  }

  .city__lines_s {
    display: none;
  }

  .city__lines_b {
    display: none;
  }
}

@media (max-width: 1258px) {
  .chapter__pic-line {
    left: 3px;
    top: 24px;
  }

  .chapter__pic img:first-child {
    padding-left: 22px;
  }
}

@media (max-width: 1248px) {
  .chapter__content {
    padding-left: 15px;
  }

  .news__content {
    padding-left: 15px;
  }
}

@media (max-width: 1123px) {
  .events__item {
    padding: 31px 22px 36px;
  }

  .events__item-title {
    font-size: 30px;
  }
}

@media (max-width: 1023px) {
  .city {
    padding-top: 91px;
  }

  .city__preview-title {
    width: 93%;
    max-width: 500px;
  }

  .header__top {
    padding-right: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .header__logo {
    flex: 1;
  }

  .header__nav-w {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .header-m {
    height: calc(100vh - 91px);
  }

  .events__item:last-child {
    flex: 0 0 100%;
  }

  .events__item_s {
    flex: 1 0 33%;
  }

  .news__item-subtitle {
    padding-right: 25px;
  }

  .top-block {
    height: 91px;
  }
}

@media (max-width: 899px) {
  .city__preview {
    height: 200px;
  }

  .city__text-top {
    flex-wrap: wrap;
  }

  .footer__social {
    margin-bottom: 15px;
  }

  .preview-swiper__lines_s {
    top: -10px;
  }

  .chapter__content {
    flex-direction: column;
  }

  .chapter__pic {
    margin: 0 auto;
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    flex: 0 0 100%;
  }

  .footer__nav-item {
    flex: 1 0 calc(50% - 24px);
  }

  .events__item {
    flex: 1 0 100%;
  }

  .news {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .news__lines_s {
    display: none;
  }

  .news__lines_b {
    display: none;
  }

  .news__item-pic {
    flex: 0 0 100%;
  }

  .news__item-subtitle {
    font-size: 25px;
  }
}

@media (max-width: 676px) {
  .city {
    padding-top: 76px;
  }

  .footer {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .footer__social {
    justify-content: flex-start;
    gap: 20px;
  }

  .footer__text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__top {
    justify-content: space-between;
    column-gap: 15px;
  }

  .header__logo {
    display: none;
  }

  .header__action {
    flex: 1;
    column-gap: 15px;
  }

  .header-m {
    height: calc(100vh - 72px);
  }

  .chapter {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .chapter__pic-line {
    left: 0px;
    top: 23px;
  }

  .events__title {
    font-size: 40px;
  }

  .events__subtitle {
    font-size: 20px;
  }

  .news__title {
    font-size: 40px;
  }

  .news__subtitle {
    font-size: 20px;
  }

  .quiz {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .quiz__title {
    font-size: 40px;
  }

  .quiz__title img {
    padding-top: 0px;
  }

  .quiz__subtitle {
    font-size: 20px;
  }

  .quiz__content {
    flex-wrap: wrap;
  }

  .quiz__pic-line {
    left: -3px;
    top: -12px;
  }

  .quiz__pic {
    padding-left: 13px;
  }

  .top-block {
    height: 76px;
  }
}

@media (max-width: 539px) {
  .footer__nav-item {
    flex: 0 0 100%;
  }

  .header__action-reg {
    padding: 10px 8px;
  }

  .header__action-log {
    padding: 10px 5px;
  }

  .preview-swiper__slide img {
    height: 350px;
  }

  .preview-swiper__logo {
    width: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .preview-swiper__lines_b {
    display: none;
  }

  .preview-swiper__lines_s {
    display: none;
  }

  .chapter__close svg {
    width: 20px;
    height: 20px;
  }

  .chapter__pic span {
    font-size: 15px;
  }

  .chapter__pic b {
    font-size: 17px;
  }

  .banner {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .banner .city__preview {
    max-height: 155px;
  }

  .news__bg-item {
    max-width: 200px;
    right: 20px;
  }

  .survey {
    right: 20px;
    bottom: 20px;
  }

  .survey img {
    max-width: 100px;
  }
}